<settings>
	<setting propertyKey="@Properties.PROP_DATE_FORMAT" title="@Strings.dateFormat">
		<settingConfig type="list">
			<listEntry value="0">@Strings.dayddmon</listEntry>
			<listEntry value="1">@Strings.ddDotmm</listEntry>
			<listEntry value="2">@Strings.ddDotmmDotyyyy</listEntry>
			<listEntry value="3">@Strings.mmSlashdd</listEntry>
			<listEntry value="4">@Strings.mmSlashddSlashyyyy</listEntry>
		</settingConfig>
	</setting>
	<setting propertyKey="@Properties.PROP_TIME_FORMAT" title="@Strings.timeFormat">
		<settingConfig type="list">
			<listEntry value="0">@Strings.systemTime</listEntry>
			<listEntry value="1">@Strings.militaryTime</listEntry>
			<listEntry value="2">@Strings.militaryTimeZ</listEntry>
		</settingConfig>
	</setting>
	<setting propertyKey="@Properties.PROP_BACKGROUND_COLOR" title="@Strings.backgroundColor">
		<settingConfig type="list">
			<listEntry value="0">@Strings.blackBackground</listEntry>
			<listEntry value="1">@Strings.whiteBackground</listEntry>
		</settingConfig>
	</setting>
	<setting propertyKey="@Properties.PROP_HEART_TYPE" title="@Strings.heartType">
		<settingConfig type="list">
			<listEntry value="0">@Strings.red</listEntry>
			<listEntry value="1">@Strings.usa</listEntry>
			<listEntry value="2">@Strings.yellowleaf</listEntry>
			<listEntry value="3">@Strings.snowflakes</listEntry>
			<listEntry value="4">@Strings.none</listEntry>
		</settingConfig>
	</setting>
	<setting propertyKey="@Properties.PROP_EER_SHOW" title="@Strings.eerShow">
		<settingConfig type="list">
			<listEntry value="0">@Strings.eerNo</listEntry>
			<listEntry value="1">@Strings.eerYes</listEntry>
		</settingConfig>
	</setting>
</settings>