<settings>
	<setting propertyKey="@Properties.PROP_DATE_FORMAT" title="@Strings.dateFormat">
		<settingConfig type="list">
			<listEntry value="0">@Strings.dayddmon</listEntry>
			<listEntry value="1">@Strings.ddDotmm</listEntry>
			<listEntry value="2">@Strings.ddDotmmDotyyyy</listEntry>
			<listEntry value="3">@Strings.mmSlashdd</listEntry>
			<listEntry value="4">@Strings.mmSlashddSlashyyyy</listEntry>
		</settingConfig>
	</setting>
	<setting propertyKey="@Properties.PROP_TIME_FORMAT" title="@Strings.timeFormat">
		<settingConfig type="list">
			<listEntry value="0">@Strings.systemTime</listEntry>
			<listEntry value="1">@Strings.militaryTime</listEntry>
			<listEntry value="2">@Strings.militaryTimeZ</listEntry>
		</settingConfig>
	</setting>
	<setting propertyKey="@Properties.PROP_BACKGROUND_COLOR" title="@Strings.backgroundColor">
		<settingConfig type="list">
			<listEntry value="0">@Strings.BLACK_Background</listEntry>
			<listEntry value="1">@Strings.BLUE_Background</listEntry>	
			<listEntry value="2">@Strings.DK_BLUE_Background</listEntry>		
			<listEntry value="3">@Strings.DK_GRAY_Background</listEntry>
			<listEntry value="4">@Strings.DK_GREEN_Background</listEntry>
			<listEntry value="5">@Strings.DK_RED_Background</listEntry>
			<listEntry value="6">@Strings.GREEN_Background</listEntry>
			<listEntry value="7">@Strings.LT_GRAY_Background</listEntry>
			<listEntry value="8">@Strings.ORANGE_Background</listEntry>
			<listEntry value="9">@Strings.PINK_Background</listEntry>
			<listEntry value="10">@Strings.PURPLE_Background</listEntry>
			<listEntry value="11">@Strings.RED_Background</listEntry>
			<listEntry value="12">@Strings.WHITE_Background</listEntry>
			<listEntry value="13">@Strings.YELLOW_Background</listEntry>
		</settingConfig>
	</setting>
	<setting propertyKey="@Properties.PROP_HEART_TYPE" title="@Strings.heartType">
		<settingConfig type="list">
			<listEntry value="0">@Strings.red</listEntry>
			<listEntry value="1">@Strings.usa</listEntry>
			<listEntry value="2">@Strings.yellowleaf</listEntry>
			<listEntry value="3">@Strings.snowflakes</listEntry>
			<listEntry value="4">@Strings.none</listEntry>
		</settingConfig>
	</setting>
	<setting propertyKey="@Properties.PROP_EER_SHOW" title="@Strings.eerShow">
		<settingConfig type="list">
			<listEntry value="0">@Strings.eerNo</listEntry>
			<listEntry value="1">@Strings.eerYes</listEntry>
		</settingConfig>
	</setting>
</settings>